
.header {
    text-align: center;
}

.search {
    padding: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
}
